@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fastly.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
:root {
  --container-padding: 40px;
  --hd: 150px;
}

@media (max-width: 1168.98px) {
  :root {
    --container-padding: 20px;
  }
}
@media (max-width: 991.98px) {
  :root {
    --hd: 70px;
  }
}
html {
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 1168.98px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  html {
    font-size: 16px;
  }
}

body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", -apple-system, sans-serif;
  color: inherit;
  outline: 0;
  letter-spacing: 0.03em;
}

body {
  color: rgba(21, 20, 57, 0.4);
  overflow-y: auto;
}
body * {
  box-sizing: border-box;
}

a {
  color: inherit;
}
a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

address, em {
  font-style: normal;
}

table {
  width: 100%;
}

textarea {
  resize: none;
  font-size: 1rem;
  outline: 0;
}

u {
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: 0 !important;
}
button.no-style {
  background: none;
  line-height: 1;
  border: 0;
}

b, strong {
  font-weight: 700;
}

.row {
  --gutters-margin: -10px;
  margin-left: var(--gutters-margin);
  margin-right: var(--gutters-margin);
}

.row > [class*=col], .row > div {
  padding-left: calc(var(--gutters-margin) * -1);
  padding-right: calc(var(--gutters-margin) * -1);
}

.no-gutters {
  --gutters-margin: 0 ;
}

h1, h2, h3, h4, .fs-1, .fs-2, .fs-3 {
  font-weight: 700;
  line-height: 1.5;
  color: #1E0E62;
}

.fs-1 {
  font-size: 2.6rem;
}

.fs-2 {
  font-size: 1.8rem;
}

.fs-3 {
  font-size: 1.6rem;
}

.fs-4 {
  font-size: 1.1rem;
}

.fs-5 {
  font-size: 0.9rem;
}

.fs-6 {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.sm {
  font-size: 0.7rem;
}

.fw-mid {
  font-weight: 600;
}

@media (max-width: 767.98px) {
  .fs-1 {
    font-size: 26px;
  }
  .fs-2 {
    font-size: 18px;
  }
  .fs-3, .fs-4 {
    font-size: 16px;
  }
}
.text-base {
  font-size: 1rem !important;
}

.container {
  max-width: 1520px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  background: #fff;
}
.container-fluid {
  max-width: none;
}
@media (max-width: 991.98px) {
  .container .container {
    justify-content: center;
    height: 28px;
    font-size: 14px;
  }
  .container .link {
    display: none;
  }
}

.text-body {
  color: rgba(21, 20, 57, 0.4) !important;
}

.text-dark {
  color: #1E0E62 !important;
}

.text-primary {
  color: #482BE7 !important;
}

.text-muted {
  color: #EBEAED !important;
}

.text-active {
  color: #25DAC5 !important;
}

.bg-dark {
  background-color: #1E0E62 !important;
}

.bg-light {
  background-color: #F6F6F6 !important;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.color-red {
  color: #C8232C;
}

.color-red2 {
  color: #EA3223;
}

.color-pink {
  color: #E93A7D;
}

.color-pink2 {
  color: #EB5757;
}

.color-org {
  color: #F2994A;
}

.color-ylw {
  color: #FFFC00;
}

.color-grn {
  color: #27AE60;
}

.color-sky {
  color: #1DA1F2;
}

.color-blue {
  color: #4267B2;
}

.color-purple {
  color: #482BE7;
}

.color-darkgray {
  color: #1E0E62;
}

.color-gray {
  color: #EBEAED;
}

.text-clamp {
  display: -webkit-box !important;
  overflow: hidden;
  max-height: 3em;
  line-height: 1.5em !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: normal !important;
  height: auto;
}

.round {
  border-radius: 10px;
}

.sm.letter-spaing-2 {
  letter-spacing: 0.1rem;
}

.bx-bd {
  border: 2px solid #EBEAED;
}
.bx-bd.active {
  border-color: #25DAC5;
}

.img-wrp {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
}

.img-wrp img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  border-radius: 5em;
  padding: 0 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  min-width: 10.5rem;
  height: 2.75rem;
  gap: 8px;
  font-size: 0.9rem;
  box-shadow: none;
  vertical-align: top;
  width: 100%;
}
.btn .icon {
  margin-top: -0.05em;
}
.btn-sm {
  min-width: 6rem;
}
.btn-lg {
  font-size: 1.2rem;
  height: 3.5rem;
  min-width: 12rem;
}
.btn-active {
  background: #fff;
  color: #25DAC5;
  border: 2px solid #25DAC5;
}
.btn-active:hover, .btn-active:focus {
  background: #25DAC5;
  color: #fff !important;
}
.btn-pink {
  background: #fff;
  color: #E93A7D;
  border: 2px solid #E93A7D;
}
.btn-pink:hover, .btn-pink:focus {
  background: #E93A7D;
  color: #fff !important;
}
.btn-purple {
  background: #fff;
  color: #482BE7;
  border: 2px solid #482BE7;
}
.btn-purple:hover, .btn-purple:focus {
  background: #482BE7;
  color: #fff !important;
  border: 2px solid #482BE7;
}
.btn-white {
  background: #fff;
  color: #1E0E62;
  border: 2px solid #EBEAED;
}
.btn-white:hover, .btn-white:focus {
  background: #1E0E62;
  color: #fff !important;
  border: 2px solid #1E0E62;
}
.btn-close {
  border-radius: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  width: 1em;
  height: 1em;
  font-size: 0.8rem;
  color: rgba(21, 20, 57, 0.4);
}
@media (max-width: 767.98px) {
  .btn {
    min-width: 120px;
  }
  .btn, .btn-lg {
    font-size: 14px;
    height: auto;
    padding: 12.5px 20px;
  }
}

.btn-text {
  color: #25DAC5;
  border: none;
  background: none;
}
.btn-text:hover, .btn-text:active {
  opacity: 0.4;
}

.btn-text-purple {
  color: #482BE7;
  border: none;
  background: none;
}
.btn-text-purple:hover, .btn-text-purple:active {
  opacity: 0.4;
}

form input::placeholder {
  color: rgba(21, 20, 57, 0.4) !important;
}
form .form-control {
  border-radius: 5em;
  height: 50px;
  color: rgba(21, 20, 57, 0.4);
  padding: 0.375rem 1.2rem;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
}
form .form-control:focus {
  box-shadow: 0px 0px 4px 2px #25DAC5;
}
form .custom-check {
  cursor: pointer;
}
form .custom-check input[type=checkbox] {
  display: none;
}
form .custom-check input[type=radio] {
  display: none;
}
form input[type=checkbox] {
  width: 20px;
  height: 20px;
}
form .box-on {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #fff;
  position: relative;
  border-radius: 6px;
  border: solid 2px #EBEAED;
  flex-shrink: 0;
}
form .box-on::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 10px;
  border: solid 1px #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 3px;
}
form input[type=checkbox]:checked + .box-on {
  background: #25DAC5;
  border: none;
}
form input[type=checkbox]:checked + .box-on:after {
  display: block;
  border: solid 1px #1E0E62;
  border-width: 0 2px 2px 0;
}
form input[type=radio] {
  width: 20px;
  height: 20px;
}
form .radio-on {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #fff;
  position: relative;
  border-radius: 5em;
  border: solid 2px #EBEAED;
  flex-shrink: 0;
}
form .radio-on::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5em;
  position: absolute;
  left: 5px;
  top: 5px;
}
form input[type=radio]:checked + .radio-on {
  background: #25DAC5;
  border: none;
}
form input[type=radio]:checked + .radio-on:after {
  display: block;
  background: #1E0E62;
}
form textarea::placeholder {
  color: rgba(21, 20, 57, 0.4) !important;
}

.form-switch {
  padding: 0;
  height: 1.5rem;
  cursor: pointer;
}
.form-switch input[type=checkbox] {
  display: none;
}
.form-switch .switch-on {
  width: 2.1rem;
  height: 1.5rem;
  display: inline-block;
  background: #25DAC5;
  position: relative;
  border-radius: 5em;
  border: 0;
  flex-shrink: 0;
}
.form-switch .switch-on::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 5em;
  position: absolute;
  top: 3px;
}
.form-switch input[type=checkbox]:checked + .switch-on:after {
  content: "";
  transform: translateX(3px);
}
.form-switch input[type=checkbox] + .switch-on:after {
  content: "";
  transform: translateX(15px);
  transition: transform 200ms ease-in-out;
}

.video-wrp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-wrp .btn-play {
  position: absolute;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background: url(../../img/icon/play-button.png) no-repeat 0 0/100% auto;
}
.video-wrp .btn-white-play {
  position: absolute;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../../img/icon/play-button-white.png) no-repeat 0 0/100% auto;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5em;
  background: #ebeaed;
  color: rgba(21, 20, 57, 0.4);
  font-size: 0.9rem;
  flex-shrink: 0;
}

.fa-solid.fa-circle.active {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fa-solid.fa-circle.active::after {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.4rem;
  background: url("../../img/icon/ic-check.svg") no-repeat 0 0/100% auto;
  z-index: 3;
}

main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

section {
  padding: 5rem 0;
  width: 100%;
}
@media (max-width: 767.98px) {
  section {
    padding: 2rem 0.8rem;
  }
}

h1 {
  margin-bottom: 2.25rem;
}

.container {
  max-width: 1520px;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  background: #fff;
}
@media (min-width: 992px) {
  .container {
    padding: 0;
  }
}
.container-fluid {
  max-width: none;
}
@media (max-width: 991.98px) {
  .container .container {
    justify-content: center;
    height: 28px;
    font-size: 14px;
  }
  .container .link {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 20px;
  }
}

.bx-form .input-wrp {
  margin: 44px 0;
}
.bx-form .form-container .custom-check {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 30px;
}
.bx-form .divider {
  margin: 50px 0 25px;
}
@media (max-width: 991.98px) {
  .bx-form .form-container {
    padding: 0 20px;
  }
}

.radio-wrp .container {
  padding: 0 !important;
}
@media (max-width: 991.98px) {
  .radio-wrp .container {
    padding: 0;
  }
}
.radio-wrp label {
  margin: 0;
}
.radio-wrp .custom-check:last-child {
  margin-bottom: 0;
}
.radio-wrp .custom-check {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  padding: 40px 60px;
}
@media (max-width: 575.98px) {
  .radio-wrp .custom-check {
    padding: 20px;
  }
}
.radio-wrp .radio-on {
  margin-top: 6px;
}
@media (max-width: 575.98px) {
  .radio-wrp .radio-on {
    margin-top: 2px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  border: 1em;
  background: #EBEAED;
}

.bg section {
  width: 100%;
}
.bg-sign {
  background: url("../../img/bg/Background.png") no-repeat center center;
  background-size: cover;
}
.bg-sign .form-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.bg-sign .container {
  max-width: 430px !important;
  width: 100% !important;
}
.bg-sign form {
  padding: 29px 0;
}
.bg-checkout {
  flex-direction: column;
  flex-wrap: nowrap;
  background: url("../../img/bg/Background2.png") no-repeat center center;
  background-size: cover;
  background-color: rgba(47, 24, 147, 0.8);
}
.bg-checkout .container {
  max-width: 570px;
  width: 100%;
  padding: 48px 68px;
}
.bg-checkout .form-control {
  border-top-left-radius: 5em !important;
  border-bottom-left-radius: 5em !important;
}
@media (max-width: 991.98px) {
  .bg-checkout {
    flex-direction: column;
  }
  .bg-checkout .form-container {
    padding: 40px 20px;
  }
  .bg-checkout h1 {
    margin-top: 1.3rem;
  }
}

.radio-wrp .container {
  max-width: 48.5rem;
}
.radio-wrp p + .d-flex {
  justify-content: space-between;
}
.radio-wrp p + .d-flex input {
  max-width: 3.85rem;
}
.radio-wrp p + .d-flex button {
  max-width: 7rem;
  height: 50px;
}
@media (max-width: 575.98px) {
  .radio-wrp p + .d-flex {
    flex-direction: column;
  }
  .radio-wrp p + .d-flex input {
    max-width: 5rem;
  }
  .radio-wrp p + .d-flex button {
    display: block;
    max-width: none;
    width: 100%;
  }
}

.bx-account .container {
  max-width: 38.5rem;
  width: 100%;
  padding: 4.3rem;
}
.bx-account .d-flex i {
  font-size: 2.6rem;
}
.bx-account .d-flex p {
  line-height: 1.3rem;
}
@media (max-width: 575.98px) {
  .bx-account .container {
    padding: 28px;
  }
}

.bx-contact h1 {
  margin: 0;
}
.bx-contact h1 + p {
  margin-top: 1.2rem;
}
.bx-contact p + form {
  margin-top: 2rem;
}
.bx-contact .img-wrp {
  width: 100%;
  height: auto;
}
.bx-contact .container {
  max-width: 48.5rem;
  width: 100%;
}
.bx-contact textarea {
  min-height: 8.5rem;
  border-radius: 0.5rem;
}
.bx-contact .address {
  margin: 2.5rem 0;
}
.bx-contact .d-flex {
  gap: 0.5rem;
}
.bx-contact .d-flex button {
  max-width: 4.5rem;
}
.bx-contact .divider {
  margin-bottom: 2.5rem;
}
@media (max-width: 767.98px) {
  .bx-contact .img-wrp {
    height: 200px;
  }
}

.bx-feature .container {
  max-width: 1170px;
  width: 100%;
}
.bx-feature h1 {
  margin-bottom: 1.5rem;
}
.bx-feature .divider {
  margin: 90px 0;
}
.bx-feature i + p {
  margin: 1.5rem 0;
}
.bx-feature .text-muted {
  font-size: 2.1rem;
}

.bx-showcase .container {
  max-width: 1170px;
  width: 100%;
}
.bx-showcase h1 {
  margin-bottom: 1.5rem;
}
.bx-showcase h1 + p {
  padding: 0 10rem;
}
.bx-showcase p.fs-4 {
  margin: 14px 0 10px;
}
.bx-showcase .btn-wrp {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.2rem;
  margin: 2.5rem 0;
}
.bx-showcase .btn-wrp .btn {
  width: 10rem;
}
.bx-showcase .design-wrp {
  row-gap: 50px;
}
.bx-showcase .team-wrp .profile.bx-bd {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bx-showcase .team-wrp .sns-wrp.bx-bd {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bx-showcase .team-wrp .img-wrp {
  width: 6rem;
  height: 6rem;
}
.bx-showcase .team-wrp .sns-wrp {
  border-top: 0;
}
.bx-showcase .team-wrp .sns-wrp .btn-sns {
  padding: 0.9rem 0;
}
.bx-showcase .team-wrp .sns-wrp .btn-sns i {
  transition: all 200ms ease-in-out;
}
.bx-showcase .team-wrp .sns-wrp .btn-sns:hover i, .bx-showcase .team-wrp .sns-wrp .btn-sns:active i {
  transform: scale(1.1);
  color: #1E0E62;
}
.bx-showcase .team-wrp .sns-wrp .right-border {
  border-right: 2px solid #EBEAED;
}
.bx-showcase .team-wrp .profile {
  padding: 2.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.4rem;
}
@media (max-width: 767.98px) {
  .bx-showcase h1 + p {
    padding: 0;
  }
  .bx-showcase .btn-wrp {
    gap: 0.5rem;
  }
  .bx-showcase .team-wrp {
    row-gap: 1rem;
  }
}

.bx-membership .container {
  max-width: 38.5rem;
  width: 100%;
}
.bx-membership h1 {
  margin-bottom: 1.5rem;
}
.bx-membership h1 + p {
  padding: 0 10rem;
}
.bx-membership p.fs-4 {
  margin: 14px 0 10px;
}
.bx-membership .btn-wrp {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.2rem;
  margin: 2.5rem 0;
}
.bx-membership .btn-wrp .btn {
  width: 10rem;
}
.bx-membership li .img-wrp {
  width: 100%;
  height: auto;
}
.bx-membership li .membership-wrp {
  padding: 2.3rem;
}
.bx-membership li .bx-bd {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bx-membership li p {
  margin: 1.6rem 0;
}
@media (max-width: 767.98px) {
  .bx-membership h1 + p {
    padding: 0;
  }
  .bx-membership .btn-wrp {
    gap: 0.5rem;
  }
}

.bx-testimonial {
  background: #1E0E62;
}
.bx-testimonial .container {
  max-width: 1050px;
  width: 100%;
  background: #1E0E62;
}
.bx-testimonial h1 {
  margin-bottom: 1.5rem;
  color: white;
}
.bx-testimonial .client-wrp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.bx-testimonial .client-wrp li {
  display: flex;
  width: calc(50% - 15px);
  padding: 1.75rem;
  min-height: 11.9rem;
}
.bx-testimonial .client-wrp li .img-wrp {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.bx-testimonial .client-wrp li strong {
  letter-spacing: 0.1rem;
  opacity: 0.4;
  font-weight: 400;
  display: block;
  margin-top: 0.7rem;
}
.bx-testimonial .client-wrp li .interview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bx-testimonial .bx-bd {
  border-color: rgba(235, 234, 237, 0.15);
}
@media (max-width: 991.98px) {
  .bx-testimonial .client-wrp {
    flex-direction: column;
  }
  .bx-testimonial .client-wrp li {
    width: 100%;
  }
}

.bx-content .container {
  max-width: 52.5rem;
  width: 100%;
  position: relative;
}
.bx-content .video-wrp {
  width: 8.5rem;
  margin-right: 0.5rem;
}
.bx-content .video-wrp + div {
  max-width: 15.2rem;
}
.bx-content .text-dark {
  margin-top: 0.3rem;
}
.bx-content .text-dark + p {
  margin-top: 1rem;
}
.bx-content .btn-active {
  max-width: 8rem;
}
.bx-content li {
  position: relative;
  overflow: hidden;
}
.bx-content li .badge {
  position: relative;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}
.bx-content li::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: 19px;
  z-index: 1;
  background: #ebeaed;
}
.bx-content li:last-child::before {
  content: "";
  display: none;
}
@media (max-width: 991.98px) {
  .bx-content .badge {
    margin-right: 0.8em;
  }
  .bx-content li::before {
    left: 15px;
  }
}

.bx-ecommerce section {
  width: 100%;
}
.bx-ecommerce .container {
  max-width: 58.5rem;
}
.bx-ecommerce .container ul {
  row-gap: 3rem;
}
.bx-ecommerce .nav {
  margin-bottom: 1.1rem;
}
.bx-ecommerce .nav.nav-tabs {
  border-bottom: none;
}
.bx-ecommerce .nav .nav-link {
  border: none;
}
.bx-ecommerce .nav .nav-link:hover, .bx-ecommerce .nav .nav-link:active {
  border: none;
}
.bx-ecommerce .nav .active {
  border: 0;
}
.bx-ecommerce .nav li + li {
  margin-left: 1.6rem;
}
.bx-ecommerce .nav .nav-link {
  padding: 1rem 0 0.3rem;
  margin-bottom: 0.7rem;
}
.bx-ecommerce .nav-1 .nav-item {
  color: #1E0E62;
  font-weight: 700;
}
.bx-ecommerce .nav-1 .nav-item .active {
  color: rgba(21, 20, 57, 0.4);
  border-bottom: 3px solid rgba(21, 20, 57, 0.4);
}
.bx-ecommerce .nav-2 .nav-item {
  color: rgba(21, 20, 57, 0.4);
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.bx-ecommerce .nav-2 .nav-item .active {
  color: #1E0E62;
}
.bx-ecommerce .product {
  margin: 0.7rem 0;
}
.bx-ecommerce .product .badge {
  height: 1.5rem;
  width: 3.35rem;
}
.bx-ecommerce .bx-sweet .btn-purple {
  width: 5.5rem;
  min-width: 0;
  height: 2rem;
  flex-grow: 0;
  font-weight: 500;
  font-size: 0.8rem;
}
.bx-ecommerce .bx-sweet .btn-text-purple {
  white-space: nowrap;
}
.bx-ecommerce .bx-sweet a + div.d-flex {
  flex-direction: column;
  justify-content: space-between;
}
.bx-ecommerce .btn-close {
  position: absolute;
  right: 0;
  top: 0;
}
.bx-ecommerce header {
  padding-bottom: 1rem;
}
.bx-ecommerce .bx-mycart {
  row-gap: 3rem;
}
.bx-ecommerce .bx-mycart .sm {
  padding-bottom: 0.5em;
}
.bx-ecommerce .bx-mycart li {
  position: relative;
  padding: 1.5rem 0;
  border-top: 1px solid #EBEAED;
}
.bx-ecommerce .size-btn-wrp {
  border-radius: 5em;
}
.bx-ecommerce .size-btn-wrp span.btn {
  pointer-events: none;
}
.bx-ecommerce .size-btn-wrp .btn {
  border-radius: 0;
  color: rgba(21, 20, 57, 0.4);
  height: 2rem;
  min-width: 2rem;
  border: 2px solid #EBEAED;
  border-right: 0;
  padding: 0 0.625em;
}
.bx-ecommerce .size-btn-wrp .btn:first-child {
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
}
.bx-ecommerce .size-btn-wrp .btn:last-child {
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  border-right: 2px solid #EBEAED;
}
.bx-ecommerce .size-btn-wrp .btn.active, .bx-ecommerce .size-btn-wrp .btn:active, .bx-ecommerce .size-btn-wrp .btn:hover {
  border-color: #1E0E62;
  background: #1E0E62;
  color: #fff;
}
.bx-ecommerce .col-lg-2 .img-wrp {
  max-width: 10rem;
  max-height: 10rem;
}
.bx-ecommerce .sm {
  display: block;
}
.bx-ecommerce .color-chip {
  display: inline-flex;
  border-radius: 5em;
  border: 2px solid #EBEAED;
  padding: 0.3em 0.35em;
  gap: 0.25em;
  font-size: 1.1rem;
}
.bx-ecommerce .price {
  position: relative;
  flex-direction: column;
}
.bx-ecommerce footer {
  padding-top: 1.5rem;
  margin-top: 0.5rem;
  border-top: 2px solid #EBEAED;
}
.bx-ecommerce footer .form-control {
  display: inline-block;
  width: 40%;
  margin-left: 0.7rem;
}
@media (max-width: 991.98px) {
  .bx-ecommerce .container ul {
    row-gap: 2.5rem;
  }
  .bx-ecommerce .product {
    margin: 0.4rem 0;
  }
  .bx-ecommerce .bx-sweet .btn-purple {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.9rem;
  }
  .bx-ecommerce .price div {
    width: 50%;
  }
  .bx-ecommerce .btn-close {
    min-width: 0 !important;
    padding: 0;
    right: 0.5rem;
  }
}
@media (max-width: 575.98px) {
  .bx-ecommerce .price {
    flex-direction: row;
  }
}