.bg {
    &-sign {
        .container {
            max-width: 430px;
            width: 100%;
        }
        background: url("../../img/bg/Background.png") no-repeat center center;
        background-size: cover;
        .input-group + .input-group { margin-top: 20px; }
        form {
            padding: 29px 0;
        }
    }
    &-checkout {
        flex-direction: column;
        flex-wrap: nowrap;
        background: url("../../img/bg/Background2.png") no-repeat center center;
        background-size: cover;
        background-color: rgba(47, 24, 147, .8);
        .container {
            max-width: 570px;
            width: 100%;
            padding: 48px 68px;
        }
        .form-control {
            border-top-left-radius: 5em !important;
            border-bottom-left-radius: 5em !important;
        }

        @include media-max(lg){
            flex-direction: column;
            .form-container {
                padding: 40px 20px;
            }
            h1 { margin-top: rem(26px); }
        }
    }
}

.radio-wrp {
    .input-group .d-flex {
        justify-content: space-between;
        input {
            max-width: rem(77px);
        }
        button {
            max-width: rem(140px);
        }
    }
    @include media-max(sm){
        padding: 20px;
        .input-group .d-flex {
            display: block !important;
            input {
                max-width: rem(100px);
            }
            button {
                display: block;
                max-width: none;
            }
        }
    }

}

.bx-account {
    .container {
        max-width: rem(770px);
        width: 100%;
        padding: rem(86px);
    }

    .d-flex {
        i { font-size: rem(52px); }
        p { line-height: rem(26px); }
    }
    
    @include media-max(sm){
        .container {
            padding: 28px;
        }
    }

}