section {
    width: 100%;
}

.bg-sign {

    .form-container {
        padding-left: rem(50px);
        padding-right: rem(50px);
    }

    .container {
        max-width: 430px !important;
        width: 100% !important;
    }
    
    background: url("../../img/bg/Background.png") no-repeat center center;
    background-size: cover;
    form {
        padding: 29px 0;
    }
}

.bg-checkout {

    flex-direction: column;
    flex-wrap: nowrap;
    background: url("../../img/bg/Background2.png") no-repeat center center;
    background-size: cover;
    background-color: rgba(47, 24, 147, .8);

    .nav-tabs {
        width: 100%;
        display: flex;

        li {
            width: 50%;
            text-align: center;

            .nav-link {
                border: 0;
                font-size: 14px;
                padding: rem(30px) 0;
                border-bottom: 3px solid $color-gray;

                &:active, &:hover {
                    color: $color-dark;
                }

                &.active {
                    color: $color-dark;
                    border-bottom: 3px solid $color-dark;
                }

            }
        }
    }

    .container {
        max-width: 570px;
        width: 100%;
    }
    .form-control {
        border-top-left-radius: 5em !important;
        border-bottom-left-radius: 5em !important;
    }

    form {
        padding: 48px 68px;
    }

    @include media-max(lg){
        flex-direction: column;

        .container {
            padding: 0;
        }

        form {
            padding: 40px 20px;
        }
        h1 { margin-top: rem(26px); }
    }
}

.radio-wrp {
    .container {
        max-width: rem(970px);
    }

    p + .d-flex {
        justify-content: space-between;
        input {
            max-width: rem(77px);
        }
        button {
            max-width: rem(140px);
            height: 50px;
        }
    }


    @include media-max(sm){

        p + .d-flex {
            flex-direction: column;

            input {
                max-width: rem(100px);
            }
            button {
                display: block;
                max-width: none;
                width: 100%;
            }
        }
    }

}

.bx-account {
    .container {
        max-width: rem(770px);
        width: 100%;
        padding: rem(86px);
    }

    .d-flex {
        i { font-size: rem(52px); }
        p { line-height: rem(26px); }
    }
    
    @include media-max(sm){
        .container {
            padding: 28px;
        }
    }

}