.bx-showcase {
    .container {
        max-width: 1170px;
        width: 100%;
    }

    h1 { margin-bottom: rem(30px); }
    h1 + p { padding: 0 rem(200px); }
    p.fs-4 { margin: 14px 0 10px; }
    .btn-wrp {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: rem(24px);
        margin: rem(50px) 0;
        .btn {
            width: rem(200px);
        }
    }
    .design-wrp {
        row-gap: 50px;
    }
    .team-wrp {
        .profile.bx-bd {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .sns-wrp.bx-bd {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .img-wrp {
            width: rem(120px);
            height: rem(120px);
        }
        .sns-wrp {
            border-top: 0;
            .btn-sns {
                padding: rem(18px) 0;
                i {
                    transition: all 200ms ease-in-out;
                }
                &:hover i, &:active i {
                    transform: scale(1.1);
                    color: $color-dark;
                }
            }
            .right-border {
                border-right: 2px solid $color-gray;
            }
        }
        .profile {
            padding: rem(50px) 0 rem(40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: rem(28px);
        }
    }

    @include media-max(md){
        h1 + p { padding: 0; }
        .btn-wrp {
            gap: rem(10px);
        }
        .team-wrp {
            row-gap: rem(20px);
        }
    }
}