@charset "utf-8";

@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/functions";

// 기본베이스 : 폰트, 컬러, 타이포
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
	--container-padding: 40px;
	--hd: 150px;
}

@include media-max(xl){
	:root{
		--container-padding: 20px;
	}
}

@include media-max(lg){
	:root{
		--hd: 70px;
	}
}

// reset
html{
	font-size: 20px; line-height: 1.5;
	@include media-max(xl){
		font-size: 16px;
	}
	@include media-max(md){
		font-size: 16px;
	}
}

body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label{
	margin: 0;
	padding: 0;
	font-family: $font-sans; 
	color: inherit;
	outline: 0;
	letter-spacing: .03em;
}
body{
	color: $color-body;
	* {
		box-sizing: border-box;
	} 
}
a{
	color: inherit;
	&:hover, &:focus, &:active{ 
		color: inherit;
		text-decoration: none;
	}
}
li{
	list-style: none
}
address, em{
	font-style: normal
}
table{
	width: 100%
}
textarea{
	resize: none;
	font-size: 1rem;
	outline: 0;
}
u{
	text-decoration-thickness: 1px;
	text-underline-position: under;
}

img{
	vertical-align: top;
	max-width: 100%
}
button{
	cursor: pointer;
	outline: 0 !important;
	&.no-style{
		background: none;
		line-height: 1;
		border: 0;
	}
} 

b, strong{
	font-weight: 700;
}


.row{
	--gutters-margin: -10px;
	margin-left: var(--gutters-margin);
	margin-right: var(--gutters-margin);
}
.row>[class*=col], .row>div{
	padding-left: calc(var(--gutters-margin) * -1);
	padding-right: calc(var(--gutters-margin) * -1)
}
.no-gutters{
	--gutters-margin: 0
}

h1, h2, h3, h4, .fs-1, .fs-2, .fs-3{
	font-weight: $font-weight-bold;
	line-height: 1.5;
	color: $color-dark;
}

.fs-1{font-size: rem(52px);}
.fs-2{font-size: rem(36px);}
.fs-3{font-size: rem(32px);}
.fs-4{font-size: rem(22px);}
.fs-5{font-size: rem(18px);}
.sm{font-size: rem(14px);}

.fw-mid{font-weight: 600;}

@include media-max(md){
	.fs-1{font-size: 26px;}
	.fs-2{font-size: 18px}
	.fs-3, .fs-4{font-size: 16px}
}

.text-base{font-size: 1rem !important;}

.text-body{color:$color-body !important}
.text-dark{color:$color-dark !important}
.text-primary{color:$color-primary !important}
.text-muted{color: $color-gray !important}

.bg-dark{background-color: $color-dark !important}
.bg-light{background-color: #F6F6F6 !important}

.text-clamp{
	@include text-clamp;
}

.round { border-radius: 10px; }