// btn, form style, nav, modal

// bx-bd
.bx-bd {
    border: 2px solid $color-gray;
    &.active {
        border-color: $color-active;
    }
}

.img-wrp img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// btn
.btn{
    border-radius: 5em;
    padding: 0 rem(24px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: rem(20px);
    min-width: rem(210px);
    height: rem(55px);
    gap: 8px;
    font-size: rem(18px);
    box-shadow: none;
    vertical-align: top;
    width: 100%;

    .icon{
        margin-top: -.05em;
    }

    &-sm{
        min-width: rem(120px);
    }

    &-lg{
        font-size: rem(24px);
        height: rem(70px);
        min-width: rem(240px);
    }


    &-active{
        background: #fff;
        color: $color-active;
        border: 2px solid $color-active;

        &:hover, &:focus{
            background: $color-active;
            color: $color-white !important;
        }
    }

    &-pink{
        background: #fff;
        color: $color-active-third;
        border: 2px solid $color-active-third;

        &:hover, &:focus{
            background: $color-active-third;
            color: $color-white !important;
        }
    }

    &-white{
        background: #fff;
        color: $color-dark;
        border: 2px solid $color-gray;

        &:hover, &:focus{
            background: $color-dark;
            color: $color-white !important;
            border: 2px solid $color-dark;
        }
    }

    @include media-max(md){
        min-width: 120px;

        &, &-lg{
            font-size: 14px;
            height: auto;
            padding: 12.5px 20px;
        }
    }
}

.btn-text {
    color: $color-active;
    border: none;
    background: none;
    &:hover, &:active {
        opacity: 0.4;
    }
}

// form
form {
    input::placeholder {
        color: $color-body !important;
    }

    .form-control {
        border-radius: 5em;
        height: 50px;
        color: $color-body;
        padding: .375rem 1.2rem;
        &:focus { box-shadow: 0px 0px 4px 2px $color-active; }
        border-top-left-radius: 5em;
        border-bottom-left-radius: 5em;
        border-top-right-radius: 5em;
        border-bottom-right-radius: 5em;
    }

    .custom-check {
        cursor: pointer;
        input[type="checkbox"] { display: none; }
        input[type="radio"] { display: none; }
    }

    // checkbox
    input[type="checkbox"] {
        width: 20px; height: 20px;
    }

    .box-on {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: #fff;
        position: relative;
        border-radius: 6px;
        border: solid 2px $color-gray;
        flex-shrink: 0;
        &::after {
            content: "";
            position: absolute;
            width: 7px;
            height: 10px;
            border: solid 1px $color-white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: 6px; top: 3px;
        }
    }
    input[type="checkbox"]:checked + .box-on {
        background: $color-active;
        border: none;
    }
    input[type="checkbox"]:checked + .box-on:after {
        display: block;
        border: solid 1px $color-dark;
        border-width: 0 2px 2px 0;
    }

    // radio

    input[type="radio"] {
        width: 20px; height: 20px;
    }

    .radio-on {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: #fff;
        position: relative;
        border-radius: 5em;
        border: solid 2px $color-gray;
        flex-shrink: 0;
        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: $color-white;
            border-radius: 5em;
            position: absolute;
            left: 5px;
            top: 5px;
        }
    }

    input[type="radio"]:checked + .radio-on {
        background: $color-active;
        border: none;
    }
    
    input[type="radio"]:checked + .radio-on:after {
        display: block;
        background: $color-dark;
    }

    // textarea
    textarea {
        &::placeholder {
            color: $color-body !important;
        }
    }

}

.form-switch {

    padding: 0;
    height: rem(30px);
    cursor: pointer;
    input[type="checkbox"] { display: none; }

    .switch-on{
        width: rem(42px);
        height: rem(30px);
        display: inline-block;
        background: $color-active;
        position: relative;
        border-radius: 5em;
        border: 0;
        flex-shrink: 0;
        &::after {
            content: "";
            position: absolute;
            width: rem(24px);
            height: rem(24px);
            background: #fff;
            border-radius: 5em;
            position: absolute;
            top: 3px;
        }
    }

    input[type="checkbox"]:checked + .switch-on:after {
        content: "";
        transform: translateX(3px);
    }
    input[type="checkbox"] + .switch-on:after {
        content: "";
        transform: translateX(15px);
        transition: transform 200ms ease-in-out;
    }

}

// video-wrp
.video-wrp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-play {
        position: absolute;
        display: inline-block;
        width: rem(70px);
        height: rem(70px);
        background: url(../../img/icon/play-button.png) no-repeat 0 0/100% auto;
    }
    .btn-white-play {
        position: absolute;
        display: inline-block;
        width: rem(100px);
        height: rem(100px);
        background: url(../../img/icon/play-button-white.png) no-repeat 0 0/100% auto;
    }
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    border-radius: 5em;
    background: #ebeaed;
    color: rgba(21, 20, 57, .4);
    font-size: rem(18px);
    flex-shrink: 0;
    margin-right: rem(30px);
}