section {
    padding: 100px 0;
    @include media-max(md){
        padding: 40px 0;
    }
}

h1 {
    margin-bottom: rem(45px);
}

.container{
    max-width: 1520px;
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    background: #fff;

    &-fluid{
        max-width: none;
    }

    @include media-max(lg){
        .container{
            justify-content: center;
            height: 28px;
            font-size: 14px;
        }
        .link{
            display: none;
        }
    }

    @include media-max(md){
        padding: 0 20px;
    }

}

.bx-form {
    @include flex(flex, center, center, row);
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    .input-wrp { margin: 44px 0; }
    .form-container {
        .custom-check {
            display: flex;
            justify-content: start;
            align-items: start;
            margin-bottom: 30px;
        }
    }
    .container {
        max-width: 970px;
    }
    .divider {
        margin: 50px 0 25px;
    }

    @include media-max(lg){
        .form-container {
            padding: 0 20px;
        }
    }

}

.radio-wrp {

    .container {
        padding: 0 !important;
        @include media-max(lg){
            padding: 0 20px !important;
        }
    }

    label {
        margin: 0;
    }

    .custom-check:last-child {
        margin-bottom: 0;
    }

    .custom-check {
        display: flex;
        flex-direction: row;
        align-items: start;
        width: 100%;
        padding: 40px 60px;

        @include media-max(sm){
            padding: 20px;
        }
    }

    .radio-on {
        margin-top: 6px;

        @include media-max(sm){
            margin-top: 2px;
        }
    }
}

.divider {
    width: 100%;
    height: 1px;
    border: 1em;
    background: #EBEAED;
}