// Grid
$grid-breakpoints: ( 
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1169px,
	"xxl": 1480px,
	"xxxl": 1600px,
);

$mobilevh : calc((var(--vh, 1vh) * 100));

$color-body: rgba(#151439, 0.4);
$color-dark: #1E0E62;
$color-primary: #482BE7;
$color-white: #fff;

$color-gray : #EBEAED;
$color-light : #999;
$color-line : #eee;

$bg-action-primary : #25DAC5;
$bg-action-third : #E93A7D;

// Typography
$font-sans: 'DM Sans', -apple-system, sans-serif;

$base-rem: 20px;
$base-rem-mobile: 16px;

$line-height-base: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// util
$radius : 10px;

// animation
$animation-timing: cubic-bezier(0.165, 0.84, 0.44, 1);